* {
  font-family: "Roboto", sans-serif;
}
header {
  background-color: #1dabab;
  position: fixed;
  z-index: 1;
  width: 100vw;
}
/* nav ul {
  margin: 0;
}
nav ul li {
  display: inline-block;
  position: relative;
}*/
nav ul li a {
  background-color: #fff;
  display: inline-block;
  margin: 0;
  color: #000;
  font-size: 1.35vw;
  font-weight: 500;
}
nav ul li:first-of-type a {
  padding: 1.05rem 0.3rem 1.05rem 0.3rem !important;
}
nav ul li:not(:first-of-type) a {
  padding: 1.05rem 1.2rem 1.05rem 0.3rem !important;
}
/*nav ul li ul {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  display: none;
  width: 100%;
}
nav ul li ul li {
  display: block;
}
nav ul li ul li a {
  font-weight: 400;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
} *//* nav ul {
  margin: 0;
}
nav ul li {
  display: inline-block;
  position: relative;
}
nav ul li a {
  background-color: #fff;
  display: inline-block;
  padding: 0.77rem 0.3rem;
  margin: 0;
  color: #000;
  font-size: 1.45vw;
}
nav ul li ul {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  display: none;
  width: 100%;
}
nav ul li ul li {
  display: block;
}*/
nav ul li ul li a {
  font-weight: 400;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
main {
  padding-top: 4.7vh;
  min-height: 94.5vh;
}
#search button[type="submit"] {
  color: #fff;
  padding: 0.8rem;
}
#search input {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  color: #fff;
}
#search input::placeholder {
  color: #fff;
  font-style: italic;
  text-align: right;
}
#search input, #search button[type="submit"] {
  margin: 0;
}
#mobilemenu {
  color: #fff;
  display: inline-block;
  padding: 0.8rem;
}
.logo {
  position: absolute;
  top: 3rem;
  left: 3rem;
  border: 1px solid #000;
}
#home {
  background-color: #fff;
}
#home h2 {
  background: #000;
  color: #fff;
  padding: 1rem;
  font-weight: 700;
  margin-bottom: 0;
}
#home-message {
  background-color: #fff;
}
#home #banner {
  background: url("../images/ab-scene01.jpg") no-repeat center;
  background-size: cover;
  height: 35vh;
  width: 100%;
  position: relative;
  min-height: 32vw;
}
#home #banner:before {
  content: "";
  background-color: #1dabab;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0.15;
}
#home h4 {
  padding: 1.65rem 1rem;
  color: #fff;
  margin-bottom: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
#home .column:not(:first-of-type) {
  background-color: #1dabab;
}
#home-content {
  padding-top: 3rem;
}
#home-content .column p {
  font-size: 1.2rem;
  padding: 0rem 1rem;
}

#interstitial {
  background-image: url("../images/ab-scene01.jpg");
  background-size: cover;
  position: fixed;
  top: 0;
  z-index: 2;
}
#interstitial .row {
  background-color: rgba(29,171,171,0.15);;
  background-size: cover;
  color: #fff;
  min-width: 100vw;
  min-height: 100vh;
}
#int-logo {
  position: absolute;
  top: 5vh;
  left: 5vh;
}
#int-logo img {
  width: 20vh;
  height: 20vh;
}
#int-desc {
  position: absolute;
  bottom: 5vh;
  left: 5vh;
}
#int-desc h1 {
  font-weight: 700;
  font-size: 7vw;
}
#int-desc h3 {
  font-size: 3vw;
}
#int-desc h2 {
  font-size: 4vw;
}
#int-mmoser {
  position: absolute;
  right: 5vh;
  bottom: 2vh;
  max-width: 25vw;
}
#int-plus {
  position: absolute;
  top: 5vh;
  right: 5vh;
  width: 30vw;
  height: 30vw;
}
.begone {
  transform: translateY(-100vh);
  transition: all 1s;
}
#intro-content {
  padding: 1.5rem;
}
#intro-bot-pic {
  margin-top: 1rem;
}
#introduction {
  overflow: hidden;
}
#introduction .text-right img {
  margin-top: 2rem;
}
#introduction h3 {
  padding: 1rem;
}
#introduction p {
  font-size: 1.15rem;
  padding: 0 1rem;
}
#introduction .end {
  margin-bottom: 2rem;
}
#intro-off {
  margin-top: 2rem;
}
#task-chair {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
#task-chair .column, #workstation .column {
  padding-bottom: 1.5rem;
}
#your-space h2 {
  color: #1dabab;
  font-weight: 700;
}
#workstation {
  background-color: #efefef;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
#trading-desk {
  background-color: #fff;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
#technology {
  background-color: #efefef;
  padding-top: 2rem;
  padding-bottom: 4rem;
}
footer {
  background-color: #000;
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.canvas {
  /* padding-bottom: 3rem; */
  position: relative;
  display: block;
}
.canvas img {
  position: absolute;
  top: 0;
  left: 0;
}
.room {
  display: none;
}
#workspace {
  padding-bottom: 2rem;
}
#workspace h3 {
  color: #1dabab;
}
.canvas-info {
  position: relative;
  display: block;
  padding: 1rem;
}
.canvas-info img {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.canvas-info img:first-of-type {
  display: block;
}
.buttons .room-label {
  color: #000;
}
#workspace h3 {
  padding-top: 4rem;
}
.sub-title {
  color: #1dabab;
}
.canvas-info a:not(:first-of-type) {
  display: none;
}


@media only screen and (orientation: portrait) {
  #int-desc h1 {
    font-size: 10vw;
  }
  #int-desc h3 {
    font-size: 4.3vw;
  }
  #int-desc h2 {
    font-size: 5.7vw;
  }
}

@media screen and (min-width: 1200px) {
  nav ul li a {
     font-size: 16px;
     font-weight: 700;
  }
}
.protip {
  color: #aaa;
}
.buttons button {
  outline: none;
}
#home-message p em {
  font-size: 1rem;
}